* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

ul {
  list-style: none;
}

main {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.h1-el-sauco {
  display: none;
}

body {
  background-color: #43618f;
  color: #fff;
  width: 100%;
}

.imagen-avion {
  width: 72vh;
}

@media (max-width: 845px) {
  .art-exposicion-san-luis {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    align-items: center;
  }
  .art-nuevos-ejemplares {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    align-items: center;
  }
  .art-ejemplares-enviados {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    align-items: center;
  }
}
@media (max-width: 565px) {
  .art-exposicion-san-luis {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    width: 100%;
  }
  .art-nuevos-ejemplares {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    width: 100%;
  }
  .art-ejemplares-enviados {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    width: 100%;
  }
  .imagen-exposicion-san-luis {
    width: 100%;
  }
  .imagen-nuevos-ejemplares {
    width: 100%;
  }
  .imagen-avion {
    width: 100%;
  }
}
@media (max-width: 524px) {
  .art-exposicion-san-luis {
    display: flex;
    width: 100%;
    text-align: justify;
    align-items: center;
  }
  .art-nuevos-ejemplares {
    display: flex;
    width: 100%;
    text-align: justify;
    align-items: center;
  }
  .art-ejemplares-enviados {
    display: flex;
    width: 100%;
    text-align: justify;
    align-items: center;
  }
  .imagen-avion {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .nuevos-ejemplares {
    width: 100%;
  }
  .imagen-avion {
    width: 100%;
  }
  .exposicion-san-luis {
    width: 100%;
  }
}
@media (max-width: 845px) {
  .foto-la-raza {
    width: 50%;
  }
  .foto-el-criadero {
    width: 50%;
  }
}
@media (max-width: 565px) {
  .foto-la-raza {
    width: 70%;
  }
  .foto-el-criadero {
    width: 70%;
  }
}
@media (max-width: 524px) {
  .parrafo-el-criadero {
    text-align: justify;
  }
  .parrafo-la-raza {
    text-align: justify;
  }
  .parrafo-la-raza p {
    font-size: 1rem;
    padding: 10px;
  }
  .parrafo-la-raza .articulo-la-raza {
    flex-direction: column;
    width: 100%;
  }
  .parrafo-la-raza .foto-la-raza {
    width: 50%;
  }
  .parrafo-la-raza .articulo-el-criadero {
    flex-direction: column;
    width: 100%;
  }
  .parrafo-la-raza .foto-el-criadero {
    width: 50%;
  }
}
@media (max-width: 320px) {
  .foto-la-raza {
    width: 100%;
  }
  .foto-el-criadero {
    width: 100%;
  }
}
figure {
  width: 100%;
}

.envios-internacionales {
  display: flex;
  padding: 30px;
}

.buscar-envios {
  display: flex;
}

@media (max-width: 320px) {
  .video {
    width: 100%;
    height: 100%;
  }
}
header {
  background-color: #fff;
  display: flex;
  color: #43618f;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 565px) {
  .barra-de-navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
  }
  .barra-de-navegacion li {
    margin: 0;
  }
  .nav-bar {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 320px) {
  .barra-de-navegacion a {
    flex-wrap: wrap;
    justify-content: end;
    color: #43618f;
    padding: 10px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .barra-de-navegacion li {
    display: inline-flex;
    margin-top: 20px;
  }
}
@media (max-width: 845px) {
  h1 {
    display: none;
  }
  h3 {
    text-align: center;
    padding: 0;
    margin: 10px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .redes {
    text-align: center;
    width: 100vw;
  }
  .sitio {
    text-align: center;
    width: 100vw;
  }
  .ubicacion {
    text-align: center;
    width: 100vw;
  }
}
@media (max-width: 320px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 5%;
  }
  .sitio {
    width: 300px;
    height: 150px;
    padding: 20px;
  }
  .ubicacion {
    width: 300px;
    height: 100px;
    padding: 15px;
  }
  .redes {
    width: 300px;
    height: 150px;
    padding-left: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
