@media (max-width:845px){
.art-exposicion-san-luis {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    align-items: center;
    }
.art-nuevos-ejemplares {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    align-items: center;
    }
.art-ejemplares-enviados {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    align-items: center;
    }
}
@media (max-width:565px){
.art-exposicion-san-luis {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    width: 100%;
    }
.art-nuevos-ejemplares {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    width: 100%;
    }
.art-ejemplares-enviados {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    width: 100%;
    }
.imagen-exposicion-san-luis {
    width: 100%;
    }
.imagen-nuevos-ejemplares {
    width: 100%;
    }
.imagen-avion {
    width: 100%;
    }
}
@media(max-width:524px){
.art-exposicion-san-luis {
    display: flex;
    width: 100%;
    text-align: justify;
    align-items: center;
    }
.art-nuevos-ejemplares {
    display: flex;
    width: 100%;
    text-align: justify;
    align-items: center;
    }
.art-ejemplares-enviados {
    display: flex;
    width: 100%;
    text-align: justify;
    align-items: center;
    }
.imagen-avion {
    width: 100%;
    }
}
@media (max-width:320px){
.nuevos-ejemplares{
    width: 100%;
    }
.imagen-avion{
    width: 100%;
    }
.exposicion-san-luis{
    width: 100%;
    }  
}