p{
    padding:20px;
}
.pais{
    padding: 10px;
}
.provincia-estado{
    padding: 10px;
}

.nombre-y-apellido{
    padding: 10px;
}

.telefono{
    padding:10px
}
.email{
    padding: 10px;
    padding-bottom: 10px;
}

h3{
    padding: 20px

}

@media(max-width:845px){

    p{
        padding:20px;
    }
    .pais{
        padding: 10px;
    }
    .provincia-estado{
        padding: 10px;
    }
    
    .nombre-y-apellido{
        padding: 10px;
    }
    
    .telefono{
        padding:10px
    }
    .email{
        padding: 10px;
        padding-bottom: 10px;
    }

}
@media(max-width:524px){
    p{
        padding:20px;
    }
    .pais{
        padding: 10px;
    }
    .provincia-estado{
        padding: 10px;
    }
    
    .nombre-y-apellido{
        padding: 10px;
    }
    
    .telefono{
        padding:10px
    }
    .email{
        padding: 10px;
        padding-bottom: 10px;
    }
}